
:root
{
    --light-code-background: #f4f4f4;
    --dark-code-background: #1E1E1E;

    --light-color-background: #fcfcfc;
    --light-color-secondary-background: #fff;
    --light-color-text: #222;
    --light-color-text-aside: #707070;
    --light-color-link: #4da6ff;
    --light-color-menu-divider: #eee;
    --light-color-menu-divider-focus: #000;
    --light-color-menu-label: #707070;
    --light-color-panel: var(--light-color-secondary-background);
    --light-color-panel-divider: #eee;
    --light-color-comment-tag: #707070;
    --light-color-comment-tag-text: #fff;
    --light-color-ts: #8250DF;
    --light-color-ts-interface: #CF222E;
    --light-color-ts-enum: #CF222E;
    --light-color-ts-class: #953800;
    --light-color-ts-private: #707070;
    --light-color-toolbar: #fff;
    --light-color-toolbar-text: #333;
    --light-icon-filter: invert(0);
    --light-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23000' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
    
    --dark-color-background: #424447;
    --dark-color-secondary-background: #26282b;
    --dark-color-text: #ffffff;
    --dark-color-text-aside: #e6e4e4;
    --dark-color-link: #00aff4;
    --dark-color-menu-divider: #eee;
    --dark-color-menu-divider-focus: #000;
    --dark-color-menu-label: #707070;
    --dark-color-panel: var(--dark-color-secondary-background);
    --dark-color-panel-divider: #424447;
    --dark-color-comment-tag: #dcddde;
    --dark-color-comment-tag-text: #2f3136;
    --dark-color-ts: #FFA657;
    --dark-color-ts-interface: #FF7B72;
    --dark-color-ts-enum: #FF7B72;
    --dark-color-ts-class: #79C0FF;
    --dark-color-ts-private: #e2e2e2;
    --dark-color-toolbar: #26282b;
    --dark-color-toolbar-text: #ffffff;
    --dark-icon-filter: invert(1);
    --dark-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23fff' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
}

.tsd-sources-title,
.tsd-sources,
.tsd-returns-title,
.tsd-returns, 
.tsd-type-parameters-title,
.tsd-type-parameters,
.tsd-parameters-title,
.tsd-parameters,
.tsd-kind-icon::before
{
    display: none;
}

body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tsd-panel
{
    border-radius: 1em;
    padding: 2em;
}

.tsd-page-title,
.tsd-panel
{
    box-shadow: 0 0 15px #00000022;
}

pre
{
    border-radius: 0.5em;
}

.tsd-index-list li,
.tsd-breadcrumb,
.tsd-hierarchy
{
    line-height: 1.5em;
}

.tsd-signature, .tsd-kind-icon
{
    font-family: monospace;
}

footer .container h2:first-child,
.tsd-legend-group
{
    display: none;
}

footer
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.tsd-panel.tsd-comment .lead
{
    font-size: inherit !important;
    line-height: inherit !important;
    margin: inherit !important;
}